<div class="car-item">
    <div class="car-item-show">
        <img src="/assets/imgs/{{this.data.type}}_logo.png" class="car-logo">
        <img src="/assets/imgs/{{this.data.type}}.png" class="car-img">
        <span class="car-petrol">Petrol</span>
    </div>
    <div class="car-item-property">
        <div calss="car-item-data">
            <div class="item-data-label">Searched</div>
            <div class="item-data-value">{{this.data.searched}}</div>
        </div>
        <div calss="car-item-data">
            <div class="item-data-label">Visited</div>
            <div class="item-data-value">{{this.data.visited}}</div>
        </div>
        <div calss="car-item-data">
            <div class="item-data-label">Sold</div>
            <div class="item-data-value">{{this.data.sold}}</div>
        </div>
    </div>
</div>