
.mr-20{
    margin-right: 20px;
}

.mr-24{
    margin-right: 24px;
}

.mr-32{
    margin-right: 32px;
}
.mr-16{
    margin-right: 16px;
}

.mr-10{
    margin-right: 10px;
}

.ml-16{
    margin-left: 16px;
}

.mt-30{
    margin-top: 30px;
}

.hover-black{
    transition: all 0.2s ease-out;
}

.hover-black:hover{
    color: black; 
}

a {
    color: #343a40;
    text-decoration: none;
    background-color: transparent;
}